<config>
  <!-- CDS Credentials -->
  <cds_credentials username='fakeuser17' password='fakeuserpassword' />

  <!-- Node WebService URL -->
  <node_webservice url='https://db2-stage.grnoc.iu.edu/cds2/node.cgi' />

  <!-- Network -->
  <network id='14' />

  <!-- Nodes roles to run on -->
  <node_roles>
    <node_role value='rtr' />
    <node_role value='sw' />
  </node_roles>

</config>